body {
    background-color: lightblue;
  }
.RedText{
    color: red;
}
.BlueText{
    color: blue;
}
/*.bamo{
    background-image: url("../images/img.png");
    //background-repeat: no-repeat ;
}*/
p{
   /* color: brown;*/
    text-align: center;
}
.GreenText{
    /*color: green;*/
}
.center{
    text-align: center;
}